
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding: 29px 40px 28px 40px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
  font-size: 13px;
  font-weight: bold;

  @media (min-width: 1770px) {
    padding: 40px 80px;
    font-size: 15px;
  }
  @media (max-width: 1280px) {
    font-size: 10px;
    grid-template-columns: repeat(13, 1fr);
  }
  @media (max-width: 1023px) {
    padding: 40px;
    grid-template-columns: repeat(11, 1fr);
  }
  @media (max-width: 767px) {
    padding: 20px;

  }
}

.menu {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  cursor: pointer;

  @media (max-width: 767px) {
    grid-column: 1 / 2;
  }

  p {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .menuIcon {
    width: 32px;
    margin-right: 10px;

    svg {
      width: 40px;
      height: auto;

    }
      path {
        stroke: var(--primary-color);
    }

    @media (min-width: 1770px) {
      margin-right: 10px;
    }
    @media (max-width: 1280px) {
      margin-right: 10px;
    }
  }

}

.chooseFlat {
  grid-column: 2/4;



  @media (max-width: 1280px) {
    grid-column: 2/6;
    margin-left: 25px;
  }

  @media (max-width: 1023px) {
    grid-column: 9/12;
    order: 3;
  }
  @media (max-width: 767px) {
    display: none;
  }

}

.logo {
  grid-column: 6/8;
  justify-self: center;
  position: relative;
  transition: .5s;
  width: 156px;

  svg path {
    fill: var(--primary-color);
  }

  @media (min-width: 1770px) {
    width: 187px;
    height: 30px;
  }
  @media (max-width: 1023px) {
    grid-column: 5/8;
    order: 2;
  }

  &:hover {
    transform: scale(0.9);
  }

  img {
    width: 155px;
  }
}

.phone {
  grid-column: 10/12;
  display: flex;
  justify-content: center;
  font-size: 14px;

  @media (min-width: 1770px) {
    font-size: 17px;
  }
  @media (max-width: 1280px) {
    font-size: 13px;
  }
  @media (max-width: 1023px) {
    display: none;
  }

}

.callRequest {
  cursor: pointer;
  grid-column: 12/13;
  display: flex;
  justify-content: end;
  margin-left: -15px;
  color: var(--primary-color);
  position: relative;
  height: 13px;
  overflow: hidden;

  @media (min-width: 1770px) {
    height: 15px;
  }
  @media (max-width: 1280px) {
    height: 10px;
    grid-column: 12/14;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  @media (max-width: 1023px) {
    grid-column: 3/4;
    order: 1;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D7D7D7;
    border-radius: 50%;

    &:before {
      content: '';
      background: url("../../public/phone.png") no-repeat;
      width: 14px;
      height: 14px;

    }
  }
  @media (max-width: 767px) {
    grid-column: 10/12;
    order: 3;
    justify-self: end;
  }


  p {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;

    @media (max-width: 1023px) {
      display: none;
    }

    &:hover {
      top: -100%;
    }

    &:after {
      content: "Заказать звонок";
      text-transform: uppercase;
      position: absolute;
      bottom: -13px;
      left: 0;

      &:hover {
        bottom: 0;
      }

    }
  }

  &:hover {
    p {
      top: -100%;
    }
  }
}