:root {
    --primary-color: #2F80ED;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}


main {
    margin: 0 40px;
    position: relative;

    @media (min-width: 1770px) {
        margin: 0 80px;
    }
    @media (max-width: 1280px) {
        margin: 0 30px;
    }
    @media (max-width: 1023px) {
        margin: 0 40px;
    }
    @media (max-width: 767px) {
        margin: 0 20px;
    }
}

.alert-enter {
    opacity: 0;
}

.alert-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.alert-exit {
    opacity: 1;
}
.alert-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}